In [84]:
import pandas as pd
import numpy as np

In [85]:
# Importing the dataset
raw_dataset = pd.read_csv("./processed.cleveland.csv",sep=',', header=None)
print("Dataset shape : ", raw_dataset.shape)

Dataset shape :  (303, 14)

In [86]:
raw_dataset

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,0

In [87]:
raw_dataset.columns = [
    "age",
    "sex",
    "chest_pain",
    "trestbps",
    "cholestrol",
    "fbs",
    "restecg",
    "thalach",
    "exang",
    "oldpeak",
    "slope",
    "ca",
    "thal",
    "num"]

In [88]:
raw_dataset

,age,sex,chest_pain,trestbps,cholestrol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,0

In [89]:
raw_dataset.describe(include='all')

,age,sex,chest_pain,trestbps,cholestrol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303,303,303.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,4,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176,166,NaN
mean,54.438944,0.679868,3.158416,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,NaN,NaN,0.937294
std,9.038662,0.467299,0.960126,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,NaN,NaN,1.228536
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,NaN,NaN,0.000000
25%,48.000000,0.000000,3.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,NaN,NaN,0.000000
50%,56.000000,1.000000,3.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,NaN,NaN,0.000000
75%,61.000000,1.000000,4.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,NaN,NaN,2.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,NaN,NaN,4.000000

In [90]:
raw_dataset.dtypes

age           float64
sex           float64
chest_pain    float64
trestbps      float64
cholestrol    float64
fbs           float64
restecg       float64
thalach       float64
exang         float64
oldpeak       float64
slope         float64
ca             object
thal           object
num             int64
dtype: object

In [91]:
raw_dataset.isnull().sum()

age           0
sex           0
chest_pain    0
trestbps      0
cholestrol    0
fbs           0
restecg       0
thalach       0
exang         0
oldpeak       0
slope         0
ca            0
thal          0
num           0
dtype: int64

In [92]:
target_var = raw_dataset['num'].unique()
target_var

array([0, 2, 1, 3, 4])

In [93]:
raw_dataset["num"] = raw_dataset["num"].replace([2,3,4],1)

In [94]:
raw_dataset['num'].unique()

array([0, 1])

In [95]:
switzerland_dataset = pd.read_csv('./processed.switzerland.csv',sep=',',header=None)
switzerland_dataset

     0   1   2    3   4  5  6    7  8    9  10 11 12  13
0    32   1   1   95   0  ?  0  127  0   .7  1  ?  ?   1
1    34   1   4  115   0  ?  ?  154  0   .2  1  ?  ?   1
2    35   1   4    ?   0  ?  0  130  1    ?  ?  ?  7   3
3    36   1   4  110   0  ?  0  125  1    1  2  ?  6   1
4    38   0   4  105   0  ?  0  166  0  2.8  1  ?  ?   2
..   ..  ..  ..  ...  .. .. ..  ... ..  ... .. .. ..  ..
118  70   1   4  115   0  0  1   92  1    0  2  ?  7   1
119  70   1   4  140   0  1  0  157  1    2  2  ?  7   3
120  72   1   3  160   0  ?  2  114  0  1.6  2  2  ?   0
121  73   0   3  160   0  0  1  121  0    0  1  ?  3   1
122  74   1   2  145   0  ?  1  123  0  1.3  1  ?  ?   1

[123 rows x 14 columns]

In [96]:
hungarian_dataset = pd.read_csv('./processed.hungarian.csv',sep=',',header=None)
hungarian_dataset

     0   1   2    3    4  5  6    7  8    9  10 11 12  13
0    28   1   2  130  132  0  2  185  0  0.0  ?  ?  ?   0
1    29   1   2  120  243  0  0  160  0  0.0  ?  ?  ?   0
2    29   1   2  140    ?  0  0  170  0  0.0  ?  ?  ?   0
3    30   0   1  170  237  0  1  170  0  0.0  ?  ?  6   0
4    31   0   2  100  219  0  1  150  0  0.0  ?  ?  ?   0
..   ..  ..  ..  ...  ... .. ..  ... ..  ... .. .. ..  ..
289  52   1   4  160  331  0  0   94  1  2.5  ?  ?  ?   1
290  54   0   3  130  294  0  1  100  1  0.0  2  ?  ?   1
291  56   1   4  155  342  1  0  150  1  3.0  2  ?  ?   1
292  58   0   2  180  393  0  0  110  1  1.0  2  ?  7   1
293  65   1   4  130  275  0  1  115  1  1.0  2  ?  ?   1

[294 rows x 14 columns]

In [139]:
hungarian_dataset.columns = [
     "age",
    "sex",
    "chest_pain",
    "trestbps",
    "cholestrol",
    "fbs",
    "restecg",
    "thalach",
    "exang",
    "oldpeak",
    "slope",
    "ca",
    "thal",
    "num"
]
switzerland_dataset.columns = [
     "age",
    "sex",
    "chest_pain",
    "trestbps",
    "cholestrol",
    "fbs",
    "restecg",
    "thalach",
    "exang",
    "oldpeak",
    "slope",
    "ca",
    "thal",
    "num"
]

In [213]:
integrated_dataset = pd.concat(objs=[raw_dataset,switzerland_dataset,hungarian_dataset],axis=0)
integrated_dataset

,age,sex,chest_pain,trestbps,cholestrol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,52.0,1.0,4.0,160,331,0,0,94,1,2.5,?,?,?,1
290,54.0,0.0,3.0,130,294,0,1,100,1,0.0,2,?,?,1
291,56.0,1.0,4.0,155,342,1,0,150,1,3.0,2,?,?,1
292,58.0,0.0,2.0,180,393,0,0,110,1,1.0,2,?,7,1
293,65.0,1.0,4.0,130,275,0,1,115,1,1.0,2,?,?,1

In [214]:
integrated_dataset.isnull().sum()

age           0
sex           0
chest_pain    0
trestbps      0
cholestrol    0
fbs           0
restecg       0
thalach       0
exang         0
oldpeak       0
slope         0
ca            0
thal          0
num           0
dtype: int64

# Note :
1. Here, the following columns contain null values which need to be replaced with appropriate values
    1. trestbps (numerical)
    2. cholestrol (numerical)
    3. fbs
    4. restecg
    5. thalach (numerical)
    6. exang
    7. oldpeak (numerical)
    8. slope
    9. ca
    10. thal
2. Ideal strategy for replacing nunmerical values is to replace them with the mean value of the remaining, none null data.
3. For the categorical variables, modal value of the none null data can be considered for replacement.

# Now replacing categorical var with mode

In [215]:
integrated_dataset['ca'].unique()

array(['0.0', '3.0', '2.0', '1.0', '?', '1', '2', '0'], dtype=object)

In [216]:
integrated_dataset.ca = pd.to_numeric(integrated_dataset.ca,errors="coerce")
integrated_dataset.ca.unique()

array([ 0.,  3.,  2.,  1., nan])

In [217]:
integrated_dataset.ca = integrated_dataset.ca.fillna(integrated_dataset['ca'].mode()[0])
integrated_dataset['ca'].unique()

array([0., 3., 2., 1.])

In [218]:
integrated_dataset['ca'] = integrated_dataset['ca'].astype(int)

In [219]:
integrated_dataset['ca'].unique()

array([0, 3, 2, 1])

In [220]:
integrated_dataset['slope'].unique()

array([3.0, 2.0, 1.0, '1', '?', '2', '3'], dtype=object)

In [222]:
integrated_dataset['slope'] = pd.to_numeric(integrated_dataset['slope'],errors='coerce')
integrated_dataset['slope'].mode()[0]
integrated_dataset['slope'] = integrated_dataset['slope'].fillna(integrated_dataset['slope'].mode()[0])

In [223]:
integrated_dataset['slope'].unique()

array([3., 2., 1.])

In [225]:
integrated_dataset['slope'] = integrated_dataset['slope'].astype(int)

In [229]:
categorical_var = ['thal','exang','fbs','restecg']
means = []
for i in categorical_var:
    tempseries = integrated_dataset[i]
    tempseries = pd.to_numeric(tempseries,errors="coerce")
    tempseries.unique()
    tempseries = tempseries.fillna(tempseries.mode()[0])
    tempseries = tempseries.astype(int)
    means.append(tempseries.unique())
means

[array([6, 3, 7]), array([0, 1]), array([1, 0]), array([2, 0, 1])]

# Now replacing numerical var with mean

In [234]:
numerical_vars = ['trestbps','cholestrol','thalach','oldpeak']
means = []
for i in numerical_vars:
    tempseries = integrated_dataset[i]
    tempseries = pd.to_numeric(tempseries,errors='coerce')
    tempseries.fillna(tempseries.mean(),inplace=True)
    means.append(tempseries.unique())
means

[array([145.        , 160.        , 120.        , 130.        ,
        140.        , 172.        , 150.        , 110.        ,
        132.        , 117.        , 135.        , 112.        ,
        105.        , 124.        , 125.        , 142.        ,
        128.        , 170.        , 155.        , 104.        ,
        180.        , 138.        , 108.        , 134.        ,
        122.        , 115.        , 118.        , 100.        ,
        200.        ,  94.        , 165.        , 102.        ,
        152.        , 101.        , 126.        , 174.        ,
        148.        , 178.        , 158.        , 192.        ,
        129.        , 144.        , 123.        , 136.        ,
        146.        , 106.        , 156.        , 154.        ,
        114.        , 164.        ,  95.        , 131.80474198,
         80.        , 185.        ,  98.        , 190.        ,
        113.        ,  92.        ]),
 array([233.        , 286.        , 229.        , 250.        ,
        204.        , 236.        , 268.        , 354.        ,
        254.        , 203.        , 192.        , 294.        ,
        256.        , 263.        , 199.        , 168.        ,
        239.        , 275.        , 266.        , 211.        ,
        283.        , 284.        , 224.        , 206.        ,
        219.        , 340.        , 226.        , 247.        ,
        167.        , 230.        , 335.        , 234.        ,
        177.        , 276.        , 353.        , 243.        ,
        225.        , 302.        , 212.        , 330.        ,
        175.        , 417.        , 197.        , 198.        ,
        290.        , 253.        , 172.        , 273.        ,
        213.        , 305.        , 216.        , 304.        ,
        188.        , 282.        , 185.        , 232.        ,
        326.        , 231.        , 269.        , 267.        ,
        248.        , 360.        , 258.        , 308.        ,
        245.        , 270.        , 208.        , 264.        ,
        321.        , 274.        , 325.        , 235.        ,
        257.        , 164.        , 141.        , 252.        ,
        255.        , 201.        , 222.        , 260.        ,
        182.        , 303.        , 265.        , 309.        ,
        307.        , 249.        , 186.        , 341.        ,
        183.        , 407.        , 217.        , 288.        ,
        220.        , 209.        , 227.        , 261.        ,
        174.        , 281.        , 221.        , 205.        ,
        240.        , 289.        , 318.        , 298.        ,
        564.        , 246.        , 322.        , 299.        ,
        300.        , 293.        , 277.        , 214.        ,
        207.        , 223.        , 160.        , 394.        ,
        184.        , 315.        , 409.        , 244.        ,
        195.        , 196.        , 126.        , 313.        ,
        259.        , 200.        , 262.        , 215.        ,
        228.        , 193.        , 271.        , 210.        ,
        327.        , 149.        , 295.        , 306.        ,
        178.        , 237.        , 218.        , 242.        ,
        319.        , 166.        , 180.        , 311.        ,
        278.        , 342.        , 169.        , 187.        ,
        157.        , 176.        , 241.        , 131.        ,
          0.        , 132.        , 204.77474892, 161.        ,
        173.        , 194.        , 297.        , 292.        ,
        339.        , 147.        , 291.        , 358.        ,
        412.        , 238.        , 163.        , 280.        ,
        202.        , 328.        , 129.        , 190.        ,
        179.        , 272.        , 100.        , 468.        ,
        320.        , 312.        , 171.        , 365.        ,
        344.        ,  85.        , 347.        , 251.        ,
        287.        , 156.        , 117.        , 466.        ,
        338.        , 529.        , 392.        , 329.        ,
        355.        , 603.        , 404.        , 518.        ,
        285.        , 279.        , 388.        , 336.        ,
        491.        , 331.        , 393.        ]),
 array([150.        , 108.        , 129.        , 187.        ,
        172.        , 178.        , 160.        , 163.        ,
        147.        , 155.        , 148.        , 153.        ,
        142.        , 173.        , 162.        , 174.        ,
        168.        , 139.        , 171.        , 144.        ,
        132.        , 158.        , 114.        , 151.        ,
        161.        , 179.        , 120.        , 112.        ,
        137.        , 157.        , 169.        , 165.        ,
        123.        , 128.        , 152.        , 140.        ,
        188.        , 109.        , 125.        , 131.        ,
        170.        , 113.        ,  99.        , 177.        ,
        141.        , 180.        , 111.        , 143.        ,
        182.        , 156.        , 115.        , 149.        ,
        145.        , 146.        , 175.        , 186.        ,
        185.        , 159.        , 130.        , 190.        ,
        136.        ,  97.        , 127.        , 154.        ,
        133.        , 126.        , 202.        , 103.        ,
        166.        , 164.        , 184.        , 124.        ,
        122.        ,  96.        , 138.        ,  88.        ,
        105.        , 194.        , 195.        , 106.        ,
        167.        ,  95.        , 192.        , 117.        ,
        121.        , 116.        ,  71.        , 118.        ,
        181.        , 134.        ,  90.        , 176.        ,
        110.        ,  92.        , 104.        ,  60.        ,
         82.        , 135.        ,  83.        ,  98.        ,
        100.        ,  94.        , 119.        ,  63.        ,
         70.        ,  77.        ,  72.        ,  78.        ,
         86.        ,  93.        ,  67.        , 140.56545961,
         87.        , 102.        ,  91.        ]),
 array([ 2.3       ,  1.5       ,  2.6       ,  3.5       ,  1.4       ,
         0.8       ,  3.6       ,  0.6       ,  3.1       ,  0.4       ,
         1.3       ,  0.        ,  0.5       ,  1.6       ,  1.        ,
         1.2       ,  0.2       ,  1.8       ,  3.2       ,  2.4       ,
         2.        ,  2.5       ,  2.2       ,  2.8       ,  3.        ,
         3.4       ,  6.2       ,  4.        ,  5.6       ,  2.9       ,
         0.1       ,  2.1       ,  1.9       ,  4.2       ,  0.9       ,
         1.1       ,  3.8       ,  0.7       ,  0.3       ,  4.4       ,
         0.78963585, -1.1       , -1.5       , -0.1       , -2.6       ,
        -0.7       , -2.        , -1.        ,  1.7       , -0.8       ,
        -0.5       , -0.9       ,  3.7       ,  5.        ])]

In [237]:
integrated_dataset.to_csv('./integrated_preprocessed_ds.csv')